.messagescroll{
    overflow: auto;
}

.bar{
    border: 5px;
    position: fixed;
    right: 0%;
    background-color: #3c3c3c  ;
    height: 100%;
    width: 20%;
    align-content: center;
}
.names{
    text-align: center;
    font: cursive;
    position: sticky;
    list-style-type: none;
}

.whiteBox{
    background-color: white;
    margin: 5%;
    height: 95%;
    align-content: center;
    position: sticky;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font: 13px Helvetica, Arial;
    background-color: #3e404f;
    width:80%;
}

form {
    background: #3c3c3c;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 80%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}
form button {
    width: 9%;
    background: #BAB64D;
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    height: 100px;
}

#messages li {
    padding: 10px 10px;
    background: lightslategray;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#messages li:last-child{
    margin-bottom: 50px;
}