.bar{
    border: 5px;
    position: fixed;
    right: 0%;
    background-color: #3c3c3c  ;
    height: 100%;
    width: 20%;
    align-content: center;
    /*Âçê*/
}
.names{
    text-align: center;
    font: cursive;
    position: fixed;
   
}

.whiteBox{
    background-color: white;
    margin: 5%;
    height: 95%;
    align-content: center;
    position: fixed;
}


* { margin: 0; padding: 0; box-sizing: border-box;} 
body { font: 13px Helvetica, Arial; background-color: #3e404f;width:80%;}
form { background: #3c3c3c; padding: 3px; position: fixed; bottom: 0; width: 80%;  }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%;  -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility; }
form button { width: 9.5%; background: #BAB64D; border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0;}
#messages li { padding: 7px 10px;}
#messages li:nth-child(odd) { background: #eee; }

